.menu {
    background-color: var(--bg-menu-sidebar);
    flex-direction: column;
}

/* header */
.menu__header {
    padding: 10px 3px 10px 12px;
    width: 100%;
    justify-content: space-between;
    height: var(--height-menu-header);
}

.menu__header .header__title {
    justify-content: space-between;
}

.menu__header .title__content {
    color: var(--header-title-on-sidebar);
    margin-left: 8px;
}

.menu__header .toggle-icon {
    background-image: url("../../assets/Icons/ic_sprites.svg");
    background-repeat: no-repeat;
    background-position: -9px -8px;
    cursor: pointer;
}

/* list */
.menu__list {
    /* padding-left: 12px; */
    margin-top: 9px;
}

.menu__list li {
    list-style-type: none;
}

/* .menu__list li {
    margin-bottom: 13px;
} */

/* no expand */
.menu.no-expand {

}

.menu.no-expand .menu__header {
}

#app.menu-no-expand .menu .header__title {
    display: none;
}

#app.menu-no-expand .menu .menu__item__title {
    display: none;
}


#app.menu-no-expand .menu__header .toggle-icon {
    background-position: -12px -8px;
}
